.carCard {
    display: flex; 
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    width: 80%; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    align-items: center; 
}

.carImage {
    flex-basis: 30%; 
    padding-right: 20px; 
}

.carImage img {
    width: 100%;
    height: auto;
}

.carDetails {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.carDetails h2 {
    margin-bottom: 10px;
}

.carInfo {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 0.9em;
}

.carInfo p {
    margin: 5px 0;
}

.carPricing {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.carPricing p {
    font-weight: bold;
    margin: 5px 0;
}

.carPricing .perDay {
    text-decoration: line-through; 
    color: #666; 
}

.carPricing .total {
    color: green; 
    font-size: 1.2em;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center; 
    margin-left: auto; 
}

button:hover {
    background-color: darkgreen;
}
